* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    position: relative;
    width: 50%;
    height: 55%;
}

.rgb {
    position: absolute;
    width: 46%;
    margin: auto;
    height: 100%;
    text-align: center;
    padding-top: 3%;
}

.cores {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 15.3%;
    top: 25.8%;
    background-color: bisque;
}